ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: darkcyan;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
li a:hover {
  background-color: darkslategray;
}
img {
  width: 2vw;
}
.cartIcon {
  float: right;
}
